.transfer {
  &__form {
    width: 100%;

    > div {
      margin: 2rem 1rem;
    }

    select {
      width: 100%;
    }
  }

  .currency-amount-row,
  .transfer-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    select {
      width: auto;
      margin: 0 0.5rem;
    }
  }

  div.amount {
    position: relative;
  }
  .error {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0.2rem;
    color: red;
    font-size: 0.8rem;
  }
}
