@import '../styles/variables.scss';

.primary-button {
  background: $primary-color;
  color: $primary-color-text;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  border: none;

  &:hover {
    opacity: 0.9;
  }
  &:visited,
  &:active {
    opacity: 0.8;
  }
}
