@import '../styles/variables.scss';

.main-layout {
  &__header {
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    color: $primary-color-text;
    height: 4.5rem;

    h1 {
      align-self: center;
      font-size: 1.5rem;
      font-weight: normal;
      letter-spacing: 0.2rem;
      margin: 0;
      padding: 0.5rem;
      text-transform: uppercase;
    }
  }
  &__content {
    max-width: 500px;
    margin: 0 auto;

    min-height: calc(100vh - 4.5rem);
    padding-top: 2rem;
  }
}
